version: '3.7'

services:
  elasticsearch:
    build: .
    container_name: es-node 
    environment:
      - discovery.type=single-node    
      - xpack.security.enabled=false  
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"         
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - rag-network

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    container_name: kibana-ui
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200 # Elasticsearch 연결
    ports:
      - "5601:5601"      
    depends_on:
      - elasticsearch     
    networks:
      - rag-network

volumes:
  es_data:
    driver: local

networks:
  rag-network:
    driver: bridge